@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--color-main-bg);
  color: var(--color-main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
