:root {
  --color-white: white;
  --color-black: black;

  /* background */
  --color-main-bg: white;
  --color-secondary-bg: lightgray;

  /* FONT */
  --color-main-font: black;
  --color-secondary-font: darkgray;

}
